html{background-color: #C8C8C8;}

h1{
    color: #282828;
    font-size: 20px;
    font-family: "Courier New",Arial,sans-serif;
}

canvas{
    margin-top: 10px;
    border: 2px solid #505050;
    background-color: #A0A0A0;
}

label {
    display: block;
    font-family: "Courier New",Arial,sans-serif;
}

.inputfield{width: 100px;}

.inputbutton{padding: 0px;}

.error{
    padding-left: 10px;
    margin: 0;
    color: #282828;
    font-size: 14px;
    font-family: "Courier New",Arial,sans-serif;
}

.bold { font-weight: bold; }

.mt10{margin-top:10px;}
.pl10{padding-left:10px;}
.pr10{padding-right:10px;}

.route{
    color: #282828;
    font-size: 14px;
    font-family: "Courier New",Arial,sans-serif;
}

.vert-a-bottom{vertical-align:bottom;}
